@import "styles/vars";

.aboutSection {
  @media only screen and (min-width: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .wrapperAboutSection {
      width: 100%;
      max-width: 518px;
    }

    h3 {
      padding-bottom: 35px;
    }
    .aboutSectionVideoSection {
      padding-top: 70px;
      p {
        margin-bottom: 16px;
      }
    }
  }
}

.aboutSection{
  @media only screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .iframeWrapper{
      iframe{
        width: 491px;
        height: 290px;
      }
    }
  }
}
