@import 'styles/vars';

.orderSection{
  @media only screen and (min-width: 0) {
    margin-top: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    .wrapperOrder{
      >h3{
        text-align: center;
      }
    }
    p{
      margin: 23px 0 29px 0;
    }

    .order{
      margin-top: 20px;
      .btnWrapper{
        display: flex;
        justify-content: center;
      }
      button{
        margin-top: 56px;
        margin-bottom: 56px;
      }
    }

    .wrapperOffer{
      cursor: pointer;
      max-width: 555px;
      width: 100%;
      position: relative;
      text-align: center;
      color: white;

      h2{
        position: absolute;
        font-size: 4.0vh;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.orderSection{
  @media only screen and (min-width:1200px) {
    justify-content: space-between;
    .wrapperOrder{
      h3{
        text-align: initial;
      }
    }
    .vl{
      display: initial;
      border-left: 1px solid $color-black;
      opacity: 50%;
      height: 363px;
    }
    .order{
      .btnWrapper{
        display: flex;
        justify-content: start;
        button{
          margin-bottom: 0;
        }
      }
    }
  }
}
