@import '/styles/vars';

.carousel{
  @media only screen and (min-width: 0) {
    .imageWrapper{
      display: flex;
      overflow: hidden;
      img{
        cursor: pointer;
        &:first-child{
          margin-right: 18px;
          width: 1200px;
        }
        &:nth-last-child(1){
          position: absolute;
          width: 140px;
          right: 0;
        }
      }
    }
    .slides{
      width: 286px;
      margin: 0 auto;
      display: flex;
      gap: 7px;
      justify-content: center;
      align-items: center;
      padding-top: 34px;
      li{
        cursor: pointer;
      }
      li:last-of-type{
        margin-left: 68px;
        transform: scaleX(-1);
      }
      li:first-of-type{
        margin-right: 68px;

      }
      .ellipse{
        background-color: $color-orange;
        opacity: 22%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
      }
      .ellipse, .selected{
        background-color: $color-orange;
        width: 6px;
        height: 6px;
        border-radius: 50%;
      }
    }
  }
}